<div class="flex self-stretch flex-col items-start justify-start bg-indigo-100">
  <div class="flex flex-1 self-stretch flex-col items-center justify-start">
    <div class="flex self-stretch items-center justify-between px-5 py-2.5 bg-coolGray-50">
      <div class="flex space-x-2 items-center justify-center">
        <div style="background-image: url('/fimgs/bg-ad0543ee4253aee69cb8c96762bd74345c736ef9');background-size:100% 100%;background-repeat:no-repeat;" />
        <div style="background-image: url('/fimgs/bg-a18af47d6d318110fbbdde65b6d4444ca408a7f3');background-size:100% 100%;background-repeat:no-repeat;" />
      </div>
      <div class="flex flex-col space-y-0.5 items-end justify-start">
        <div class="bg-gradient-to-br from-green-500 to-blue-900 rounded-full" />
        <div class="bg-gradient-to-br from-green-500 to-blue-900 rounded-full" />
        <div class="bg-gradient-to-br from-green-500 to-blue-900 rounded-full" />
      </div>
    </div>
    <div class="flex flex-col space-y-2.5 items-center justify-start">
      <div class="flex flex-col space-y-3.5 items-center justify-start px-6 pt-6 pb-1">
        <div
          class="shadow"
          style="background-image: url('/fimgs/bg-a4f2e0391c6c43eb5517bb0c2d85b74d8ea48258');background-size:100% 100%;background-repeat:no-repeat;"
        />
        <div style="background-image: url('/fimgs/bg-a18af47d6d318110fbbdde65b6d4444ca408a7f3');background-size:100% 100%;background-repeat:no-repeat;" />
      </div>
      <div class="text-base tracking-wide leading-none text-center text-coolGray-700">
        aplikasi yang akan mempermudah pengelolaan keuanganmu dengan fitur yang
        simpel dan berguna sesuai dengan yang kamu butuhkan
      </div>
      <div class="flex items-center justify-center px-2.5 py-1 bg-gradient-to-br from-green-500 to-blue-900 shadow rounded-full">
        <div class="text-sm font-medium text-center text-white">
          DOWNLOAD NOW
        </div>
      </div>
    </div>
    <div class="flex self-stretch items-start justify-center bg-coolGray-400">
      <div style="background-image: url('/fimgs/bg-42df25e4679c2c84a46649054ed8481991de5066');background-size:100% 100%;background-repeat:no-repeat;" />
    </div>
    <div class="flex self-stretch flex-col space-y-9 items-center justify-start px-8 bg-coolGray-50">
      <div class="flex flex-col space-y-2.5 items-center justify-start py-2.5">
        <div class="text-lg font-bold tracking-wide text-justify">
          OUR FEATURES
        </div>
        <div class="flex flex-col space-y-5 items-center justify-start">
          <div class="text-2xl font-bold tracking-wide text-center text-blue-900">
            Pencatatan uang keluar dan masuk
          </div>
          <div class="text-base tracking-wide leading-none text-justify text-gray-700">
            Kamu bisa memasukkan pemasukan dan pengeluaranmu yang akan langsung
            muncul sebagai saldo.
          </div>
          <div class="flex flex-col items-start justify-start px-4 py-0.5 bg-coolGray-400 rounded-2xl">
            <div style="background-image: url('/fimgs/bg-0e47d49584d5f89521363fc3f547a043beecd4ae');background-size:100% 100%;background-repeat:no-repeat;" />
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-5 items-center justify-start">
        <div class="text-2xl font-bold tracking-wide text-center text-blue-900">
          Simpan asset masa depanmu
        </div>
        <div class="text-base tracking-wide leading-none text-justify text-gray-700">
          Di MONIZE kamu bisa menyimpan asset berhargamu seperti: dana darurat,
          reksadana, atau asset berharga yang lain.
        </div>
        <div class="flex flex-col items-start justify-start px-4 py-0.5 bg-indigo-100 rounded-2xl">
          <div style="background-image: url('/fimgs/bg-876e85be799c853c5e2b568495f665b40e8362b0');background-size:100% 100%;background-repeat:no-repeat;" />
        </div>
      </div>
      <div class="flex flex-col space-y-5 items-start justify-start">
        <div class="flex flex-col space-y-5 items-center justify-start">
          <div class="text-2xl font-bold tracking-wide text-center text-blue-900">
            Menabung untuk mencapai tujuanmu
          </div>
          <div class="text-base tracking-wide leading-none text-justify text-gray-700">
            Ingin menabung tapi uang selalu habis? tenang, di MONIZE kamu bisa
            menabung dengan menyenangkan.
          </div>
        </div>
        <div class="flex flex-col items-center justify-start">
          <div class="flex justify-center">
            <div class="flex items-start justify-start px-6 py-1">
              <div style="background-image: url('/fimgs/bg-63bc23dbd034aecb11b6255f8b305565b680cc62');background-size:100% 100%;background-repeat:no-repeat;" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col space-y-8 items-start justify-start">
      <div class="flex items-start justify-center">
        <div class="text-lg font-bold tracking-wide text-justify">REVIEWS</div>
      </div>
      <div class="flex flex-col items-center justify-start">
        <div class="flex space-x-3 items-center justify-center">
          <div class="flex flex-col items-center justify-start">
            <div class="flex items-start justify-start">
              <div class="text-7xl tracking-widest text-gray-700">4.5</div>
            </div>
          </div>
          <div class="flex flex-col space-y-4 items-start justify-start">
            <div class="flex space-x-1 items-start justify-start">
              <div class="flex items-start justify-start pb-0.5">
                <div class="bg-gray-700" />
              </div>
              <div class="flex items-start justify-start pb-0.5">
                <div class="bg-gray-700" />
              </div>
              <div class="flex items-start justify-start pb-0.5">
                <div class="bg-gray-700" />
              </div>
              <div class="flex items-start justify-start pb-0.5">
                <div class="bg-gray-700" />
              </div>
              <div class="flex items-start justify-start pt-0.5">
                <div class="bg-gray-700" />
              </div>
            </div>
            <div class="flex space-x-5 items-start justify-start">
              <div class="text-xs font-medium tracking-wider leading-none text-gray-700">
                1.020.020
              </div>
              <div class="flex items-start justify-start p-0.5">
                <div class="bg-gray-700" />
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-0.5 items-start justify-start pb-5">
          <div class="bg-green-500" />
          <div class="bg-yellow-300" />
          <div class="bg-yellow-200" />
          <div class="bg-orange-300" />
          <div class="bg-red-400" />
        </div>
      </div>
    </div>
    <div class="flex self-stretch items-center justify-center p-2.5 bg-coolGray-400">
      <div class="flex flex-col items-center justify-between">
        <div class="flex self-stretch items-start justify-between px-5">
          <div class="flex flex-col space-y-3 items-start justify-start">
            <div class="text-lg font-medium tracking-wide leading-tight text-gray-700">
              Jhon Doe
            </div>
            <div class="flex space-x-1 items-start justify-start">
              <div class="flex items-start justify-start pb-0.5">
                <div class="bg-yellow-300" />
              </div>
              <div class="flex items-start justify-start pb-0.5">
                <div class="bg-yellow-300" />
              </div>
              <div class="flex items-start justify-start pb-0.5">
                <div class="bg-yellow-300" />
              </div>
              <div class="flex items-start justify-start pb-0.5">
                <div class="bg-yellow-300" />
              </div>
              <div class="flex items-start justify-start pb-0.5">
                <div class="bg-yellow-300" />
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="bg-white rounded-full" />
            <div class="flex flex-col">
              <div class="bg-white rounded-full" />
              <div
                class="absolute left-0 top-0"
                style="background-image: url('/fimgs/bg-948543b1a2f424089e153166f6ae1edfcff11fe2');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
          </div>
        </div>
        <div class="flex items-start justify-center p-5">
          <div class="text-xs font-medium tracking-wider leading-none text-gray-800">
            aplikasinya bagus, sangat membantu untuk pengelolaan uang..
            tampilannya simpel dan fiturnya juga gampang digunakan.{" "}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>